* {
    box-sizing: border-box;
  }
  body {
    background:  rgb(75, 93, 255);
    font-family: 'Lato' sans-serif;
    padding: 40px;
   margin-left: 35%;
      margin-top: 20%;
  }
  h1 {
      font-family: 'Julius', sans-serif;
      letter-spacing: 2px;
      color: rgb(255, 148, 60);
  }
